app-root{
 /*   position: fixed; 
    width: 100%;
    height: 100vh;*/
}

.overflowTarefas{
    max-height: calc(100vh - 130px) !important;
}

.divTest{
	font-size:5pt;
        display: none;
}


.j2ColorIsOrange{
	color : orange;
}

.j2EtiquetaEstilo{
	color: black;
	background: #f6d290;
        border-radius: 0.25em;
}

.dias15a25{
	background: #aff1af;
    color: black;
    font-weight: bold;
    border-radius: 0.25em;
}

.dias25a30{
	background: #fff38a;
    color: black;
    font-weight: bold;
	/*font-size: 12px;*/
        border-radius: 0.25em;
}

.dias30mais{
	background: #a94442;
    color: white;
    font-weight: bold;
    /*font-size: 14px;*/
    border-radius: 0.25em;
}

.dataPadding{
    padding-left: 2px;
    padding-right: 2px;
}

.ePrioridade{
	background: linear-gradient(45deg, #a9444229, white);
}

.prioridadeCor{
	color: #a94442;
}

.datasProcesso {
    display: inline-grid;
    vertical-align: middle;
}

.isBold{
    font-weight: bold;
}

span.nome{
    --spNomeHeight:inherit;
}

.tarefaTituloPequeno{
    font-size: 6pt;
    float: right;
    line-height: 1.0;
    margin-top: -4px;
}

conteudo-tarefa span.tarefaTituloPequeno{
    /*font-size: 6pt;*/
    float: left;
    /*line-height: 1.0;*/
    margin-top: unset;
}

.tarfOrgOpacidade{
    opacity: 0.5;
}
.tarfOrgOpacidade:hover{
    opacity: 1;
}

.altNomeListaTarefaAtiva{
    line-height: 1.0;
    float: left;
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: -4px;
}

.propertyViewJ2E{
    min-height: unset;
    transition: all .5s ease-out;
    border-left: 3px solid transparent;
}
.propertyViewJ2E:hover{
   
    background: #ddebf1;
    border-left: 3px solid #058ec4;
}

.j2eSpanAlert{
    vertical-align: middle;
    padding-left: 10px;
    
    /*filter: hue-rotate(313deg);*/
}

.j2eADMPanel {
    margin-bottom: unset;
    padding-top: 0px;
    padding-bottom: 0px;
}

.j2eADMHeader {
    padding-top: 1px;
    padding-bottom: 1px;
}

.historicoTarefaIconOpen{
    margin-left: 5px;
    vertical-align: bottom;
    height: 1em;
    vertical-align: text-top;
}

.iframeclass {
    position: absolute;
    top: 0; left: 0;
    width:100%;
    height:100%;
}

.j2EPseudoTarefa{
    font-style: italic;
}






/*         TESTE */
pseudo-tarefas .painel-listagem.painel-etiquetas[_ngcontent-mqv-c9] {
    padding: 5px;
}
pseudo-tarefas .painel-listagem[_ngcontent-mqv-c9] {
    background: #ebf0f3;
}
pseudo-tarefas .btn-nova-etiqueta[_ngcontent-mqv-c9] {
    background: #029bca;
    color: #fff;
}
pseudo-tarefas .btn-nova-etiqueta[_ngcontent-mqv-c9]:focus,
pseudo-tarefas .btn-nova-etiqueta[_ngcontent-mqv-c9]:hover {
    background: #0078aa;
    color: #fff;
}
pseudo-tarefas .tipTop[_ngcontent-mqv-c9] {
    bottom: 70%;
    left: 80%;
}
pseudo-tarefas .btn-pesquisa[_ngcontent-mqv-c9] {
    height: 34px;
}
pseudo-tarefas ul[_ngcontent-mqv-c9] .btn[_ngcontent-mqv-c9] {
    padding: 0 5px;
}
pseudo-tarefas ul[_ngcontent-mqv-c9] .btn-default[_ngcontent-mqv-c9] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
    font-size: 125%;
    color: #31708f;
}
pseudo-tarefas .rightPanel[_ngcontent-mqv-c9] {
    background: #ebf0f3;
    z-index: 1;
    padding: 0;
    border-right: 1px solid #cbd7dc;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    display: inline-block;
    width: 25%;
}
pseudo-tarefas .mainPanel[_ngcontent-mqv-c9] {
    z-index: 1;
    padding: 0;
    border-right: 1px solid #cbd7dc;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    height: 100%;
    width: 75%;
}
pseudo-tarefas .edicaoEtiquetas[_ngcontent-mqv-c9] {
    padding: 0 15px 20px;
}
pseudo-tarefas .conteudo-abas-etiquetas[_ngcontent-mqv-c9] {
    padding: 0 !important;
}
pseudo-tarefas .lista-etiquetas[_ngcontent-mqv-c9] {
    height: 85%;
    overflow: auto;
}
pseudo-tarefas .pesquisa-etiquetas[_ngcontent-mqv-c9] {
    padding: 10px 5px;
    background: #ebf0f3;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
pseudo-tarefas .abas[_ngcontent-mqv-c9] {
    background: #fff;
}
pseudo-tarefas .etiqueta[_ngcontent-mqv-c9] {
    padding: 0;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 0;
    position: inherit;
}
pseudo-tarefas .nome-etiqueta[_ngcontent-mqv-c9] {
    display: inline-block;
    cursor: pointer;
    padding: 9px 5px;
    word-wrap: break-word;
    font-size: 13px;
    color: #666;
}
pseudo-tarefas .nome-etiqueta.selecionada[_ngcontent-mqv-c9],
pseudo-tarefas .nome-etiqueta[_ngcontent-mqv-c9]:hover {
    font-weight: 700;
}
pseudo-tarefas .nenhum-processo[_ngcontent-mqv-c9] {
    position: absolute;
    top: 45vh;
    left: 50vw;
    color: #666;
    font-size: 150%;
}
pseudo-tarefas .quantidade-processos[_ngcontent-mqv-c9] {
    background-color: #fff;
    width: 100%;
    padding: 3px;
    margin-top: -20px;
    z-index: 999;
}
pseudo-tarefas .acoes-etiqueta[_ngcontent-mqv-c9] {
    float: right;
}
pseudo-tarefas .formulario[_ngcontent-mqv-c9] {
    padding: 10px;
}
pseudo-tarefas .estrela-favorito[_ngcontent-mqv-c9] {
    color: #fc0 !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}
pseudo-tarefas .checkbox[_ngcontent-mqv-c9] {
    padding-top: 9px;
}
pseudo-tarefas .botoes-acao-lote[_ngcontent-mqv-c9] .btn[_ngcontent-mqv-c9] {
    margin: 0 0 0 5px;
    line-height: 1;
}
pseudo-tarefas .dropdown-menu[_ngcontent-mqv-c9] li[_ngcontent-mqv-c9] a[_ngcontent-mqv-c9] {
    cursor: pointer;
    background-color: #fff;
}
pseudo-tarefas span.fas[_ngcontent-mqv-c9] {
    font-weight: 600;
}
pseudo-tarefas div.marcado[_ngcontent-mqv-c9] li[_ngcontent-mqv-c9] {
    background-color: beige;
}
pseudo-tarefas li.etiqueta[_ngcontent-mqv-c9] input[type="checkbox"][_ngcontent-mqv-c9] {
    margin-top: 11px;
}
pseudo-tarefas #divListaProcessos[_ngcontent-mqv-c9] {
    padding-top: 20px;
}

pseudo-tarefas .calendario[_ngcontent-vaj-c10] {
    top: 25px;
    right: 10px;
}
pseudo-tarefas .titulo[_ngcontent-vaj-c10] {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    font-weight: 700;
}
pseudo-tarefas .input-group-btn[_ngcontent-vaj-c10] button[_ngcontent-vaj-c10] {
    top: 12px;
    height: 35px;
}
pseudo-tarefas #tituloEtiquetaForm[_ngcontent-vaj-c10] {
    margin-bottom: 30px;
}

pseudo-tarefas .marcado{
    height: 32px;
    padding: 6px;
    padding-left: 20px;
}

pseudo-tarefas .pseudotarefasLoteOptions{
    height: 100%;
}

pseudo-tarefas div.processo-progress-bar{
    
}


.filtros[_ngcontent-css-c7] {
    background: #eee !important;
    height: 40px;
}
.filtros[_ngcontent-css-c7] i[_ngcontent-css-c7] {
    position: absolute;
    right: 0;
    margin-right: 5%;
}
a[_ngcontent-css-c7] {
    color: #454545;
    text-decoration: none;
    text-indent: 0;
    padding: 10px 0 12px 15px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s ease;
}
.menuItem[_ngcontent-css-c7] {
    border-bottom: 1px solid #ddd;
}
.menuItem[_ngcontent-css-c7] a[_ngcontent-css-c7] {
    border-left: 3px solid #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 95%;
    padding: 10px 0;
    line-height: 1.3;
}
.menuItem[_ngcontent-css-c7] a[_ngcontent-css-c7]:hover,
.menuItem[_ngcontent-css-c7] > div[_ngcontent-css-c7] > a.route-active[_ngcontent-css-c7] {
    color: #058ec4;
    background: #ddebf1;
    border-left: 3px solid #058ec4;
}
.menuItem[_ngcontent-css-c7] a[_ngcontent-css-c7]:hover {
    color: #058ec4;
    padding: 10px 0;
}
.nomeTarefa[_ngcontent-css-c7] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    max-width: 78%;
    padding-left: 10px;
}
.quantidadeTarefa[_ngcontent-css-c7] {
    float: right;
    padding-right: 20px;
    text-indent: 0;
    max-width: 22%;
    width: 22%;
    text-align: right;
}
.nome[_ngcontent-css-c7] {
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    padding-left: 10px;
    max-width: 78%;
    width: 78%;
}
.wrapper-filtro-tarefas-pendentes[_ngcontent-css-c7] {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    border: 1px solid #ddd;
}
#divTarefasPendentes[_ngcontent-css-c7] {
    height: 100%;
}
#group-filtro-tarefas-pendentes[_ngcontent-css-c7],
#group-filtro-tarefas-pendentes-favoritas[_ngcontent-css-c7] {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}
.nenhum-resultado[_ngcontent-css-c7],
.nenhum-resultado[_ngcontent-css-c7] a[_ngcontent-css-c7] {
    height: 40px;
    width: 100%;
}
.detalheTarefasQuantidade[_ngcontent-css-c7] {
    display: flex;
    align-items: stretch;
}
.overflowTarefas[_ngcontent-css-c7] {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.datalist-content[_ngcontent-nam-c13] {
    float: left;
    width: 100%;
    padding: 0 10px 10px !important;
    background: #fff;
    border-bottom: 1px solid #d8dfe3;
    border-left: 3px solid #fff;
    transition: all 0.3s ease-out;
    margin: 5px 0;
    box-shadow: 0 0 10px #8cabbd;
}
.selecionarProcesso[_ngcontent-nam-c13] [_ngcontent-nam-c13]:hover {
    cursor: pointer;
}
.datalist-content[_ngcontent-nam-c13]:hover,
.selecionado[_ngcontent-nam-c13] {
    background: #ddebf1;
    border-left: 3px solid #35a8ce;
}
.date[_ngcontent-nam-c13] {
    font-size: 11px;
}
.tarefa-numero-processo[_ngcontent-nam-c13] {
    font-size: 13px;
    font-weight: 700;
    word-wrap: break-word;
    float: left;
    width: 100%;
    line-height: 1.2em;
}
.process[_ngcontent-nam-c13] {
    font-size: 14px;
    font-weight: 700;
    color: #058ec4;
}
.orgao[_ngcontent-nam-c13] {
    font-size: 12px;
    word-wrap: break-word;
}
.tituloNegrito[_ngcontent-nam-c13] {
    font-weight: 900;
}
.local[_ngcontent-nam-c13] {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.label-etiqueta[_ngcontent-nam-c13] {
    margin: 2px;
    float: left;
}
.icon-desvincular-tag[_ngcontent-nam-c13] {
    cursor: pointer;
}
.icones[_ngcontent-nam-c13] {
    border-bottom: 1px solid #ddd;
}
.btn[_ngcontent-nam-c13] {
    padding: 5px 10px;
}
.btn-default[_ngcontent-nam-c13] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4 ease-in-out;
}
.marcar-todos[_ngcontent-nam-c13] {
    font-size: 1.25em;
}
.botao-selecionar[_ngcontent-nam-c13] {
    border: none;
    background: 0 0;
    padding: 0;
}


/* Favoritação de tareas*/

#tarfFavDivContainer{
    padding: 0;
    overflow: hidden;
    height: 5%;
    border-bottom: 1px solid #ddd;
}

.tarfFavStarSapn{
    font-weight: 100;
    padding: 0px 10px;
    font-size: 1.5em;
    line-height: 1.5;
    float: right;
}

.tarfFavStarSapn-stared {
    color: #fc0!important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-weight: 800;
}



.datalist-content[_ngcontent-orb-c14] {
    float: left;
    width: 100%;
    padding: 0 10px 10px !important;
    background: #fff;
    border-bottom: 1px solid #d8dfe3;
    border-left: 3px solid #fff;
    transition: all 0.3s ease-out;
    margin: 5px 0;
    box-shadow: 0 0 10px #8cabbd;
}
.selecionarProcesso[_ngcontent-orb-c14] [_ngcontent-orb-c14]:hover {
    cursor: pointer;
}
.datalist-content[_ngcontent-orb-c14]:hover,
.selecionado[_ngcontent-orb-c14] {
    background: #ddebf1;
    border-left: 3px solid #35a8ce;
}
.date[_ngcontent-orb-c14] {
    font-size: 11px;
}
.tarefa-numero-processo[_ngcontent-orb-c14] {
    font-size: 13px;
    font-weight: 700;
    word-wrap: break-word;
    float: left;
    width: 100%;
    line-height: 1.2em;
}
.process[_ngcontent-orb-c14] {
    font-size: 14px;
    font-weight: 700;
    color: #058ec4;
}
.orgao[_ngcontent-orb-c14] {
    font-size: 12px;
    word-wrap: break-word;
}
.tituloNegrito[_ngcontent-orb-c14] {
    font-weight: 900;
}
.local[_ngcontent-orb-c14] {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.label-etiqueta[_ngcontent-orb-c14] {
    margin: 2px;
    float: left;
}
.icon-desvincular-tag[_ngcontent-orb-c14] {
    cursor: pointer;
}
.icones[_ngcontent-orb-c14] {
    border-bottom: 1px solid #ddd;
}
.btn[_ngcontent-orb-c14] {
    padding: 5px 10px;
}
.btn-default[_ngcontent-orb-c14] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4 ease-in-out;
}
.marcar-todos[_ngcontent-orb-c14] {
    font-size: 1.25em;
}
.botao-selecionar[_ngcontent-orb-c14] {
    border: none;
    background: 0 0;
    padding: 0;
}





.icon.btn-default[_ngcontent-orb-c28] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.icon.btn-default[_ngcontent-orb-c28]:hover {
    background: #ebf0f3;
}
.icon.btn[_ngcontent-orb-c28] {
    padding: 5px 10px;
}
.modal[_ngcontent-orb-c28] > .btn[_ngcontent-orb-c28] {
    line-height: 1.9;
    text-transform: uppercase;
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 400;
}
button.close[_ngcontent-orb-c28] {
    font-size: 21px;
}
.modal-footer[_ngcontent-orb-c28] button[_ngcontent-orb-c28] {
    font-size: 13px !important;
}
.modal-title[_ngcontent-orb-c28] {
    font-size: 150%;
}
.modal-body[_ngcontent-orb-c28] {
    max-height: calc(100vh - 175px);
    overflow: auto;
}
.panel-body[_ngcontent-orb-c28] {
    word-break: break-word;
}


.btn-default[_ngcontent-orb-c29] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.btn[_ngcontent-orb-c29] {
    padding: 5px 10px;
}

div[j2e-etiquetas-processo]{
  padding: 4px 0px;
  padding-top: unset;
}

.label-etiqueta[_ngcontent-tnv-c13] {
    margin: 2px;
    /*float: left;*/
    display: inline-block;
    padding: 2px;
}

.label-etiqueta[_ngcontent-tnv-c13] span{
    font-size: 11px;
    font-weight: 700;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    margin: 0 6px;
    line-height: 1.4;
    
}

/********* _nghost-gss-c16 *************/
[_nghost-gss-c16] .ui-multiselect-item {
    width: 600px !important;
}
a[_ngcontent-gss-c16] {
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
}
label[_ngcontent-gss-c16] {
    cursor: pointer;
    font-weight: 400;
}
.form-fields[_ngcontent-gss-c16] {
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
    border: 1px solid #eee;
    float: left;
    width: 100%;
    margin: 5px 0;
}
.col-md-12[_ngcontent-gss-c16] {
    padding: 0;
}
.ng-valid.required[_ngcontent-gss-c16],
.ng-valid[required][_ngcontent-gss-c16] {
    border-left: 5px solid #42a948;
}
.ng-invalid[_ngcontent-gss-c16]:not(form) {
    border-left: 5px solid #a94442;
}
.botao-acao[_ngcontent-gss-c16] {
    padding-right: 5px;
    cursor: pointer;
}
.criterio[_ngcontent-gss-c16] {
    font-style: oblique;
}
.textoCriterio[_ngcontent-gss-c16] {
    font-style: normal;
}
.criterioEOU[_ngcontent-gss-c16] {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
    font-style: italic;
}
.parentesesCriterio[_ngcontent-gss-c16] {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 700;
}
.italico[_ngcontent-gss-c16] {
    font-style: oblique;
}
.destaque[_ngcontent-gss-c16] {
    text-align: center;
    font-weight: 700;
}
.mgtop[_ngcontent-gss-c16] {
    margin-top: 7px;
}
#divOpcoesTipoCriterio[_ngcontent-gss-c16] div[_ngcontent-gss-c16] {
    float: left;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-top: 3px solid #fff;
    text-transform: uppercase;
}
#divOpcoesTipoCriterio[_ngcontent-gss-c16] div.selecionado[_ngcontent-gss-c16],
#divOpcoesTipoCriterio[_ngcontent-gss-c16] div[_ngcontent-gss-c16]:hover {
    color: #0078aa;
    border-bottom: 2px solid #0078aa;
}
#divListaTiposCriterio[_ngcontent-gss-c16] div[_ngcontent-gss-c16] {
    padding: 5px;
    margin-left: 5px;
}
#tbFiltros[_ngcontent-gss-c16] {
    width: 80%;
    margin: 5px auto 20px;
}
#tbFiltros[_ngcontent-gss-c16] td[_ngcontent-gss-c16] {
    padding: 7px;
    border-bottom: 1px solid #ccc;
}
#tbFiltroForm[_ngcontent-gss-c16] {
    margin-left: 0;
    margin-right: 0;
}
#btn-addfiltro[_ngcontent-gss-c16] {
    margin-top: 30px;
}
#divMunicipiosEleicao[_ngcontent-gss-c16] select[_ngcontent-gss-c16],
#divNumeroProcesso[_ngcontent-gss-c16] input[_ngcontent-gss-c16] {
    float: left;
    width: initial;
}
#divMunicipiosEleicao[_ngcontent-gss-c16] select[_ngcontent-gss-c16] {
    margin-right: 10px;
}
#divNumeroProcesso[_ngcontent-gss-c16] div[_ngcontent-gss-c16] {
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    font-weight: 700;
    font-size: 16px;
}



.conteudoTarefa[_ngcontent-bdb-c14] {
    height: 100%;
    padding: 0 !important;
    position: relative;
}
.fullScreen[_ngcontent-bdb-c14] {
    position: fixed;
    right: 0;
    height: 100%;
    background: #fff;
    top: 0;
    width: 100% !important;
    z-index: 999;
}
.header-processo[_ngcontent-bdb-c14] {
    color: #058ec4;
    padding-left: 0;
    padding-right: 0;
    border-left: 3px solid transparent;
}
.header-processo[_ngcontent-bdb-c14] h1[_ngcontent-bdb-c14],
a[_ngcontent-bdb-c14] {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.header-processo-sigiloso[_ngcontent-bdb-c14] {
    color: #a94442;
    padding-left: 0;
    padding-right: 0;
    border-left: 3px solid transparent;
}
.header-processo-sigiloso[_ngcontent-bdb-c14] h1[_ngcontent-bdb-c14],
a[_ngcontent-bdb-c14] {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    -webkit-text-decoration: noneZ;
    text-decoration: noneZ;
    font-weight: 700;
}
.partes[_ngcontent-bdb-c14] {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 97%;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #454545;
}
.mais-detalhes[_ngcontent-bdb-c14] {
    position: absolute;
    right: 0;
    height: 100%;
    background: #ddebf1;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
}
.mais-detalhes-sigiloso[_ngcontent-bdb-c14] {
    position: absolute;
    right: 0;
    height: 100%;
    background: #ffeded;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
}
.mais-detalhes[_ngcontent-bdb-c14]:hover {
    background: #cadfe4;
    border-bottom: 3px solid #058ec4;
}
.mais-detalhes-sigiloso[_ngcontent-bdb-c14]:hover {
    background: #dababa;
    border-bottom: 3px solid #a94442;
}
.toggleDetalhes[_ngcontent-bdb-c14] {
    height: inherit;
    cursor: pointer;
}
.header-wrapper[_ngcontent-bdb-c14] {
    background: #eef5f7;
    border-left: 3px solid transparent;
    transition: all 0.5s ease-out;
}
.header-wrapper-sigiloso[_ngcontent-bdb-c14] {
    background: snow;
    border-left: 3px solid transparent;
    transition: all 0.5s ease-out;
}
.header-wrapper[_ngcontent-bdb-c14]:hover {
    background: #ddebf1;
    border-left: 3px solid #058ec4;
}
.header-wrapper-sigiloso[_ngcontent-bdb-c14]:hover {
    background: #ffeded;
    border-left: 3px solid #a94442;
}
.icon-detalhes[_ngcontent-bdb-c14] {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    right: 0;
}
.numero-processo[_ngcontent-bdb-c14] a[_ngcontent-bdb-c14],
a[_ngcontent-bdb-c14]:link,
a[_ngcontent-bdb-c14]:visited {
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}
.processo-sigiloso[_ngcontent-bdb-c14] {
    color: #a94442;
}
.processo-publico[_ngcontent-bdb-c14] {
    color: #058ec4;
}
.mostrar-detalhes[_ngcontent-bdb-c14] {
    width: 90%;
    padding: 10px 5px 0;
    position: absolute;
    z-index: 99;
    background: #fff;
    box-shadow: 1px 1px 4px #ccc;
    border: 1px solid #ededed;
    border-radius: 4px;
}
.frame-tarefa[_ngcontent-bdb-c14] {
    width: 100%;
}
.etiqueta-ativa[_ngcontent-bdb-c14] {
    color: green;
}
.btn-etiqueta[_ngcontent-bdb-c14] {
    margin-left: 5px;
}
.toolbar-processo[_ngcontent-bdb-c14] {
    margin-top: 5px !important;
}
.nenhum-processo-selecionado[_ngcontent-bdb-c14] {
    position: absolute;
    top: 45vh;
    left: 55vw;
    color: #999;
    font-size: 150%;
}
.toolbar-processo[_ngcontent-bdb-c14] i.fa[_ngcontent-bdb-c14],
.toolbar-processo[_ngcontent-bdb-c14] i.far[_ngcontent-bdb-c14],
.toolbar-processo[_ngcontent-bdb-c14] i.fas[_ngcontent-bdb-c14] {
    font-size: 120%;
}
.dropdown-transicoes[_ngcontent-bdb-c14] {
    max-height: 90vh;
    overflow-y: auto;
}



.editorFrame[_ngcontent-bdb-c23] {
    margin: 5px;
    width: 97%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ededed;
    width: calc(100% - 15px);
    height: calc(100vh - 25px);
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}


.loaderWrapper[_ngcontent-bsf-c10] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    cursor: progress;
}
.position[_ngcontent-bsf-c10] {
    position: relative;
    top: calc(100vh / 3);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.icon.btn-default[_ngcontent-lwd-c30] {
    border: none;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.4s ease-in-out;
}
.icon.btn-default[_ngcontent-lwd-c30]:hover {
    background: #ebf0f3;
}
.icon.btn[_ngcontent-lwd-c30] {
    padding: 5px 10px;
}
.modal[_ngcontent-lwd-c30] > .btn[_ngcontent-lwd-c30] {
    line-height: 1.9;
    text-transform: uppercase;
    padding: 4px 16px;
    font-size: 13px;
    font-weight: 400;
}
button.close[_ngcontent-lwd-c30] {
    font-size: 21px;
}
.modal-footer[_ngcontent-lwd-c30] button[_ngcontent-lwd-c30] {
    font-size: 13px !important;
}
.modal-title[_ngcontent-lwd-c30] {
    font-size: 150%;
}
.modal-body[_ngcontent-lwd-c30] {
    max-height: calc(100vh - 175px);
    overflow: auto;
}
.panel-body[_ngcontent-lwd-c30] {
    word-break: break-word;
}

.conteudoTarefa[_ngcontent-ono-c14] {
    height: 100%;
    padding: 0 !important;
    position: relative;
}
.fullScreen[_ngcontent-ono-c14] {
    position: fixed;
    right: 0;
    height: 100%;
    background: #fff;
    top: 0;
    width: 100% !important;
    z-index: 999;
}
.header-processo[_ngcontent-ono-c14] {
    color: #058ec4;
    padding-left: 0;
    padding-right: 0;
    border-left: 3px solid transparent;
}
.header-processo[_ngcontent-ono-c14] h1[_ngcontent-ono-c14],
a[_ngcontent-ono-c14] {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}
.header-processo-sigiloso[_ngcontent-ono-c14] {
    color: #a94442;
    padding-left: 0;
    padding-right: 0;
    border-left: 3px solid transparent;
}
.header-processo-sigiloso[_ngcontent-ono-c14] h1[_ngcontent-ono-c14],
a[_ngcontent-ono-c14] {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    -webkit-text-decoration: noneZ;
    text-decoration: noneZ;
    font-weight: 700;
}
.partes[_ngcontent-ono-c14] {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 97%;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #454545;
}
.mais-detalhes[_ngcontent-ono-c14] {
    position: absolute;
    right: 0;
    height: 100%;
    background: #ddebf1;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
}
.mais-detalhes-sigiloso[_ngcontent-ono-c14] {
    position: absolute;
    right: 0;
    height: 100%;
    background: #ffeded;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-out;
}
.mais-detalhes[_ngcontent-ono-c14]:hover {
    background: #cadfe4;
    border-bottom: 3px solid #058ec4;
}
.mais-detalhes-sigiloso[_ngcontent-ono-c14]:hover {
    background: #dababa;
    border-bottom: 3px solid #a94442;
}
.toggleDetalhes[_ngcontent-ono-c14] {
    height: inherit;
    cursor: pointer;
}
.header-wrapper[_ngcontent-ono-c14] {
    background: #eef5f7;
    border-left: 3px solid transparent;
    transition: all 0.5s ease-out;
}
.header-wrapper-sigiloso[_ngcontent-ono-c14] {
    background: snow;
    border-left: 3px solid transparent;
    transition: all 0.5s ease-out;
}
.header-wrapper[_ngcontent-ono-c14]:hover {
    background: #ddebf1;
    border-left: 3px solid #058ec4;
}
.header-wrapper-sigiloso[_ngcontent-ono-c14]:hover {
    background: #ffeded;
    border-left: 3px solid #a94442;
}
.icon-detalhes[_ngcontent-ono-c14] {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    right: 0;
}
.numero-processo[_ngcontent-ono-c14] a[_ngcontent-ono-c14],
a[_ngcontent-ono-c14]:link,
a[_ngcontent-ono-c14]:visited {
    text-decoration: none;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}
.processo-sigiloso[_ngcontent-ono-c14] {
    color: #a94442;
}
.processo-publico[_ngcontent-ono-c14] {
    color: #058ec4;
}
.mostrar-detalhes[_ngcontent-ono-c14] {
    width: 90%;
    padding: 10px 5px 0;
    position: absolute;
    z-index: 99;
    background: #fff;
    box-shadow: 1px 1px 4px #ccc;
    border: 1px solid #ededed;
    border-radius: 4px;
}
.frame-tarefa[_ngcontent-ono-c14] {
    width: 100%;
}
.etiqueta-ativa[_ngcontent-ono-c14] {
    color: green;
}
.btn-etiqueta[_ngcontent-ono-c14] {
    margin-left: 5px;
}
.toolbar-processo[_ngcontent-ono-c14] {
    margin-top: 5px !important;
}
.nenhum-processo-selecionado[_ngcontent-ono-c14] {
    position: absolute;
    top: 45vh;
    left: 55vw;
    color: #999;
    font-size: 150%;
}
.toolbar-processo[_ngcontent-ono-c14] i.fa[_ngcontent-ono-c14],
.toolbar-processo[_ngcontent-ono-c14] i.far[_ngcontent-ono-c14],
.toolbar-processo[_ngcontent-ono-c14] i.fas[_ngcontent-ono-c14] {
    font-size: 120%;
}
.dropdown-transicoes[_ngcontent-ono-c14] {
    max-height: 90vh;
    overflow-y: auto;
}

.j2-modal-dialog-frontend{
    width: 80dvi;
}

.j2-modal-expedientes-processo-iframe{
    border: none;
    height: 80dvh;
    width: 100%;
}

.iframe-no-height{
    height: 0.0000001px;
}

#pageBody[j2-limitar-autos-digitais]{
    padding-top: 0;
    background: transparent;
}

#pageBody[j2-limitar-autos-digitais] div.row.menu-topo-autos{
    margin: 0;
    max-height: unset;
}

#pageBody[j2-limitar-autos-digitais] div.container-fluid.content{
    padding: 0;
}

.j2-adjViewAutTarefa td.rich-tabpanel-content{
    padding: 0;
}

.j2-adjViewAutTarefa #divTimeLine , 
.j2-adjViewAutTarefa #detalheDocumento{
    top: 0 !important;
}

.j2-adjViewAutTarefa .navbar{
    display: none;
}

.j2-adjViewAutTarefa #divTimeLine #divTimeLine\:divEventosTimeLine{
    height: calc(100% - 50px);
}



[j2-autos-tarefa]{
    width: 100%;
    height: calc(100vh - 50px);
}

#pageBody.novoPainel{
    height: 100vh !important;
}

.j2-refresh-loader-autos{
    margin:0;
    height: 40px;
    padding: 6px;
}

.j2-refresh-loader-autos i{
    padding-top: 7px;
}

.framePAC{
    margin-top: -3px;
}

nav.main-menu, #divSideBar{
    width: 50px !important;
}
#divLiTarefas, #divLiMinhasTarefas, #divLiAssinatura{
    left: 50px !important;
}

#divRightPanel:not([j2-view-pseudo-tarefa]){
    width: calc(100% - 50px) !important;
}

.j2-qualificacao-icon:hover{
    color:#23527c
}

.mat-progress-spinner {
    display: block;
    position: relative;
}
.mat-progress-spinner svg {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: center;
    overflow: visible;
}
.mat-progress-spinner circle {
    fill: transparent;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;
}
._mat-animation-noopable.mat-progress-spinner circle {
    transition: none;
    animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
    animation: mat-progress-spinner-linear-rotate 2s linear infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] {
    transition: none;
    animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] circle {
    transition-property: stroke;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-iteration-count: infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode="indeterminate"] circle {
    transition: none;
    animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"] {
    animation: mat-progress-spinner-stroke-rotate-fallback 10s cubic-bezier(0.87, 0.03, 0.33, 1) infinite;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"] {
    transition: none;
    animation: none;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"] circle {
    transition-property: stroke;
}
._mat-animation-noopable.mat-progress-spinner.mat-progress-spinner-indeterminate-fallback-animation[mode="indeterminate"] circle {
    transition: none;
    animation: none;
}

iframe[j2-pseudo-iframe]{
    display: none;
}

th[j2-seletor-expediente]{
    width: 20px;
}

.rich-stglpnl-marker[j2-marker]{
    display: block !important;
}

.rich-stglpnl-marker[j2-marker].collapse:not(.in){
    transform: scaleY(-1);
    margin-top: 22px;
    height: 0px;
}

.selecionarProcesso > div > .tarefa-numero-processo {
    font-size: 16px !important;
}

.tarefa-numero-processo.text-danger{
    font-size: 14px !important;
}
  

div.datalist-content.selecionado{
    background: rgb(243 255 238);
    border-left: 3px solid #48ce35;
}

div.datalist-content.selecionado:hover {
    background: rgb(227 244 220);
    border-left: 3px solid #48ce35;
}

div.datalist-content.selecionado .tarefa-numero-processo{
    color: rgb(34 123 21);
}

i[j2-np-copiar]{
    font-size: 14px;
    cursor: copy;
}


i[j2-i-lock]{
    /*font-size: 120%;*/
    vertical-align: top;
}

i[j2-i-book]{
    /*font-size: 120%;*/
    vertical-align: bottom;
    margin-left: -2px;
}

#frameTarefas a.text-truncate {
    font-size: 16px !important;
}

#frameTarefas .header-processo{
    width: 83.333333333333% !important;
}

div.j2-tags-tarefa-num-clique{
    max-width: 300px;
}

a.j2-tag-btn{
    background-color: #f6d290;
    text-transform: none !important;
    font-size: 13px !important;
    font-weight: bolder;
}

a.j2-tag-btn i{
    font-size: 18px;
    vertical-align: sub;
    margin-right: 3px;
}

[j2-painel-basic-css]{
    /*min-height: 200px;*/
}


i[j2e-proc-data-mov]{
    margin-right: 1px;
    font-size: 90%;
}

i[j2e-proc-data-task]{
    margin-right: 3px;
    font-size: 90%;
}

.row.icones > div:first-child{
    width: 41.66666667% !important;
}
.row.icones > div:last-child{
    width: 58.33333333% !important;
}

.j2-mini-etiqueta-rapida {
    float: right;
    margin: 0;
}
.j2-mini-etiqueta-rapida:hover {
    background: #ddebf1;
}

.j2-mini-etiqueta-rapida > div:first-child {
    font-size: 13px;
    padding-bottom: 0;
}

.j2-mini-etiqueta-rapida [j2-ui-content] {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    background: transparent !important;
}

.j2-mini-etiqueta-rapida .j2-tag-btn {
    font-size: 10px !important;
    padding: 2.5px;
}

.j2-mini-etiqueta-rapida .j2-tag-btn i {
    font-size: 13px;
    vertical-align: middle;
}





.j2-faixa-etiquetas {
    margin: 0;
}

.j2-faixa-etiquetas > div:first-child {
    display: none;
}

.j2-faixa-etiquetas [j2-ui-content] {
    margin: 0;
}

.j2-faixa-etiquetas .j2-tag-btn {
    font-size: 10px !important;
    padding: 3px;
}

.j2-tag-no-pointer {
    cursor: unset;
}

.j2-faixa-etiquetas .j2-tag-btn i {
    font-size: 13px;
    vertical-align: middle;
}

.j2-faixa-etiquetas .j2-tag-btn i.fa-times {
    padding-left: 5px;
    cursor: pointer;
}

/*.j2-faixa-etiquetas [j2-tags-rapidas]{
    width: 100%;
}*/

div[j2-faixa-etiquetas-spacer]{
    font-size: 5px;
    display: contents;
}

#faixaDeEtiquetas{
    position: sticky;
    z-index: 7;
    top: 0;
}

/** SEÇÃO DA ÁREA DIV barra-selecao-processos **/
.j2-alinhar-direita-items{
    justify-content: flex-end;
}

.acoes-processos-selecionados[_ngcontent-pdi-c12] {
    float: left;
    padding: 5px 10px;
    background: #fff;
}
.btn[_ngcontent-pdi-c12] {
    margin: 0 0 0 5px;
    line-height: 1;
}
#marcarTodos[_ngcontent-pdi-c12] {
    cursor: pointer;
}
.marcar-todos[_ngcontent-pdi-c12] {
    font-size: 1.25em;
}
.botao-selecionar[_ngcontent-pdi-c12] {
    border: none;
    background: 0 0;
    padding: 0;
}




/*Bootstrap validation*/
.form-control.is-invalid, .was-validated .form-control:invalid, input.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem)!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus, input.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}


/* mudar a etiqueta da cor padrão */
.label.label-info.label-etiqueta:not([style]){
    color: black;
	background: #f6d290;
    border-radius: 0.25em;
}

.div-fixa {
    position: fixed;
    top: -500px; /* Inicialmente, coloque a div acima do topo da janela de visualização */
    left: 0;
    width: calc(100% - 6px);
    /*background-color: #ccc;*/
    padding: 14px;
    transition: top 0.5s ease; /* Adicione uma transição suave para o efeito de deslizamento */
    z-index: 8;
}

i[j2e-data-i]{
    cursor: pointer;
}

i.j2e-i-mp[j2e-data-i]{
    padding-left: 8px !important;
}

input[j2e-data-input]{
    width: 50%;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    font-size: inherit;
    user-select: none;
}

@keyframes mat-progress-spinner-linear-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes mat-progress-spinner-stroke-rotate-100 {
    0% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(0);
    }
    12.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(0);
    }
    12.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(72.5deg);
    }
    25% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(72.5deg);
    }
    25.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(270deg);
    }
    37.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(270deg);
    }
    37.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(161.5deg);
    }
    50% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(161.5deg);
    }
    50.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(180deg);
    }
    62.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(180deg);
    }
    62.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(251.5deg);
    }
    75% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(251.5deg);
    }
    75.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(90deg);
    }
    87.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(90deg);
    }
    87.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(341.5deg);
    }
    100% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(341.5deg);
    }
}
@keyframes mat-progress-spinner-stroke-rotate-fallback {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(1170deg);
    }
    50% {
        transform: rotate(2340deg);
    }
    75% {
        transform: rotate(3510deg);
    }
    100% {
        transform: rotate(4680deg);
    }
}
