

<tr>
  <td>
    <div onclick="j2.api.menuContent.visualizarContatos();" class="menuItem">
      <p style="FONT-SIZE: 8pt; FONT-FAMILY: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; TEXT-ALIGN: justify; MARGIN: 0pt" name="462">
        <b>Contatos</b> Partes
      </p>
    </div>
  </td>
</tr>

<tr>
  <td>
    <div onclick="j2.api.menuContent.visualizarListaPostagem();" class="menuItem">
      <p style="FONT-SIZE: 8pt; FONT-FAMILY: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; TEXT-ALIGN: justify; MARGIN: 0pt" name="462">
        Lista de <b>Postagem</b>
      </p>
    </div>
  </td>
</tr>

<!-- pdf -->
<tr>
  <td>
    <div onclick="j2.api.menuContent.gerPDFFromDocumentoJ2();" class="menuItem">
      <p style="FONT-SIZE: 8pt; FONT-FAMILY: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; TEXT-ALIGN: justify; MARGIN: 0pt" name="462">
        Gerar <b>PDF</b>
      </p>
    </div>
  </td>
</tr>
